.numbering{
    /* width: 1220px; */
    height: 40px;
    background: #edd2d2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.numbering_box{
    height: 100%;
    width: 10%;
    background-color: aqua;
}
