.numbering{
    /* width: 1220px; */
    height: 40px;
    background: #edd2d2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 30px;
}

.numbering_box{
    height: 100%;
    width: 4%;
    background-color: aqua;
    border-radius: 7px;
    ;
}
