.live_break{
    /* width: 1220px; */
    height: 40px;
    background: #5f3434;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10%;
}

.live_break_txt{
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #034C3C;
}

.live_break_span{
    height: 5%;
    background-color: #034C3C;
    width: 85%;
    ;
}
