.section2{
    width: 1270px;
    height: 450px;
    background: #edd2d2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 20px;
}

.videos{
    width: 1000px;
    height: 100%;
    background-color: aqua;
}
