.section4{
    /* width: 1220px; */
    height: 450px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 30px;
}

.section4_video{
    height: 100%;
    width: 30%;
    background-color: #5f3434;
    position: relative;
    border-radius: 7px;
}

.section4_videos1{
    height: 100%;
    width: 30%;
    background-color: #5f3434;
    position: relative;
}
.section4_extra{
    height: 100%;
    width: 30%;
    background-color: #5f3434;
    position: relative;
}
