.section2{
    width: 100%;
    height: 450px;
    background: #edd2d2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 20px;
}

.videos{
    width: 700px;
    height: 100%;
    background-color: aqua;
    position: relative;
    left: 200px;
    top: 0px;
}
