.section5{
    /* width: 1220px; */
    height: 300px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 30px;
}

.section5_span1{
    width: 40%;
    height: 100%;;
    background-color: aqua;
}
