.section2{
    /* width: 1220px; */
    height: 450px;
    background: #edd2d2;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.videos{
    width: 800px;
    height: 100%;
    background-color: aqua;
}

.articles{
    width: 400px;
    height: 100%;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.article1{
    width: 100%;;
    height: 220px;
    background-color: blue;
    border-radius: 5px;
}

.article2{
    width: 100%;;
    height: 220px;
    background-color: blue;
    border-radius: 5px;
}

/* responsive code */

@media (max-width: 1240px){
    .videos{
        width: 700px;
    }

    .section2{
        gap: 60px;
    }

}

@media (max-width: 1190px){
    .videos{
        width: 650px;
    }

    .section2{
        gap: 60px;
    }

    .articles{
        width: 350px
    }
}

@media (max-width: 1100px){
    .videos{
        width: 550px;
    }

    .section2{
        gap: 60px;
    }

    .articles{
        width: 290px
    }
}

@media (max-width: 950px){
    .videos{
        width: 500px;
    }

    .section2{
        gap: 60px;
    }

    .articles{
        width: 280px
    }
}

@media (max-width: 900px){
    .videos{
        width: 450px;
    }

    .section2{
        gap: 60px;
    }

    .articles{
        width: 280px
    }
}

/* end of responsoive code */

