.section4{
    /* width: 1220px; */
    height: 450px;
    background: #f0aeae;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 30px;
}

.section4_video{
    height: 100%;
    width: 30%;
    background-color: #5f3434;
    position: relative;
    border-radius: 7px;
}

.section4_video1_span_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1
}

.section4_video1_span_play_button{
    width: 10%;
    height: 8%;
    position: absolute;
    left: 45%;
    z-index: 2;;
}

.section4_video1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.section4_videos{
    height: 100%;
    width: 30%;
    background-color: #5f3434;
    position: relative;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.section4_videos1{
    width: 100%;
    height: 30%;
    background-color: aqua;
    border-radius: 7px;
}


.section4_extra{
    height: 100%;
    width: 30%;
    background-color: #5f3434;
    position: relative;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.section4_extra1{
    width: 100%;;
    height: 45%;
    background-color: aqua;
}


@media (max-width: 900px){
    .section4{
        height: 300px;
    }
}

@media (max-width: 650px){
    .section4{
        height: 250px;
    }
}

@media (max-width: 580px){
    .section4{
        height: 230px;
    }
}

@media (max-width: 420px){
    .section4{
        height: 180px;
    }
}

@media (max-width: 370px){
    .section4{
        flex-direction: column;
        height: 350px;
    }

    .section4_video{
        height: 50%;
        width: 100%;
    }

    .section4_videos{
        height: 20%;
        width: 100%;
        flex-direction: row;
    }

    .section4_videos1{
        width: 30%;
        height: 100%;
    }

    .section4_extra{
        height: 20%;
        width: 100%;
        flex-direction: row;
    }

    .section4_extra1{
        width: 45%;
        height: 100%;
    }
}
