body{
    background: #DEF6F7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 200px;
    font-family: helvetica;
}

